@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Bg-background {
    background-image: URL("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 100vh;
    width: 100vw;
    font-family: "Roboto";
    color: white;
}

.main-heading {
    text-align: Center;
}

.p1 {
    padding: 25px;
}

.b1-start {
    height: 38px;
    width: 78px;
    background-color: orange;
    color: white;
}

.b1-bg {
    text-align: center;
}

.p-last {
    text-align: center;
    text-decoration: underline;
}
